<!DOCTYPE hmtl>
<html>

    <head>

        <title>Lista de Tarefas</title>
    </head>

    <body>
        {{#login}}
        <h1>Realizar Login</h1>
        <form action="/login" method="POST">
            <label for="username">Nome Login</label>
            <input type="text" id="username" name="username" autocomplete="username">
            <label for="current-password">Senha</label>
            <input type="password" id="current-password" name="password" autocomplete="current-password">
            <button type="submit">Realizar Login</button>
        </form>
        {{/login}}
        {{^login}}
            <h1>Login realizado com sucesso</h1>
            <h1>Nome : {{nome}} </h1>
            <form action ="/criartarefa" method="POST">
                <label for="tarefas">Tarefa</label>
                <input type="text" id="tarefas" name="tarefas">
                <button type="submit">Adicionar Tarefas</button>
            </form>
            {{#lista}}
                <div>{{tarefa}}</div>
            {{/lista}}
            <button id="sair">Sair</button>
        {{/login}}
    </body>
</html>
